{% extends 'JimdoJimFlowEditBoardBundle::layout.html.twig' %}
{% block body %}

<h1>Board list</h1>

<div id="menu">
    <div class="action">
        <a class="button gray right" href="{{ path('board_list') }}">List boards</a>
    </div>
    <div class="action">
        <a class="button gray right" href="{{ path('manage_board_new') }}">Create a new board</a>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="board_list">
    {% for entity in entities %}
        <div class="item">
            <div class="board_name">
               {{ entity.name }}
            </div>

            <div class="action">
                <a class="button gray" href="{{ path('manage_board_print', { 'id': entity.id }) }}">print qr codes</a>
                <span></span>
            </div>
            <div class="action">
                <a class="button gray" href="{{ path('manage_board_edit', { 'id': entity.id }) }}">edit board</a>
                <span></span>
            </div>
            <div style="clear: both;"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}
