{% extends 'JimdoJimFlowEditBoardBundle::layout.html.twig' %}
{% block body %}

<h1>Board list</h1>

<div id="menu">
    <div class="action">
        <a class="button gray right" href="{{ path('manage_board_new') }}">Create a new board</a>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="board_list">
    {% for board in entities %}
        <div class="item">
            <div class="board_name">
               <a class="boardListEntry" href="{{ url('board_detail', { 'boardId': board.id }) }}">{{ board.name }}</a></p>
            </div>

            <div class="action">
                <a class="button gray" href="{{ path('manage_board_print', { 'id': board.id }) }}">print qr codes</a>
                <span></span>
            </div>
            <div class="action">
                <a class="button gray" href="{{ path('manage_board_edit', { 'id': board.id }) }}">edit board</a>
                <span></span>
            </div>
            <div style="clear: both;"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}
