{% extends 'JimdoJimFlowEditBoardBundle::layout.html.twig' %}
{% block body %}
<h1>Board creation</h1>

<form action="{{ path('manage_board_create') }}" method="post" {{ form_enctype(form) }}>
    {% form_theme form 'JimdoJimFlowEditBoardBundle::form_row_template.html.twig' %}

    {{ form_row(form.name) }}

    {{ form_widget(form._token) }}

    <ul class="boardColumns" id="sortable" data-prototype="{{ form_widget(form.boardColumns.get('prototype')) | e }}">
    </ul>

    <p>
        <button class="button orange" type="submit">Create</button>
    </p>
</form>

<div class="action">
    <a class="button gray right" href="{{ path('manage_board') }}">Back to the list</a>
</div>
<div style="clear: both;"></div>

{% endblock %}