{% extends 'JimdoJimKanWallEditBoardBundle::layout.html.twig' %}
{% block body %}
<h1>Board creation</h1>

<form action="{{ path('manage_board_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.name) }}

    {{ form_widget(form._token) }}

    <ul class="boardColumns" id="sortable" data-prototype="{{ form_widget(form.boardColumns.get('prototype')) | e }}">
    </ul>

    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('manage_board') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}