<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

<h1>Board creation</h1>

<form action="{{ path('manage_board_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.name) }}

    {{ form_widget(form._token) }}

    <ul class="boardColumns" data-prototype="{{ form_widget(form.boardColumns.get('prototype')) | e }}">
    </ul>

    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('manage_board') }}">
            Back to the list
        </a>
    </li>
</ul>

 <script type="text/javascript">
var collectionHolder = $('ul.boardColumns');

var $addBoardColumnLink = $('<a href="#" class="add_boardcolumn_link">Add a board column</a>');
var $newLinkLi = $('<li></li>').append($addBoardColumnLink);

jQuery(document).ready(function() {
    collectionHolder.append($newLinkLi);

});
    $addBoardColumnLink.on('click', function(e) {
        e.preventDefault();
        addBoardColumnForm(collectionHolder, $newLinkLi);
    });

function addBoardColumnForm(collectionHolder, $newLinkLi) {
    var prototype = collectionHolder.attr('data-prototype');
    var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
}
</script>
