<h1>QR Codes for {{ entity.name }} board</h1>
<div style="border: 1px dashed silver; padding: 20px; float: left;">
<img height="148pt" src="http://chart.apis.google.com/chart?cht=qr&chs=190x190&chld=H|0&chl=[{{ entity.id }},{{ entity.boardColumns|length }}]" />
<div style="margin-top: 10px; text-align: center; width: 100%;">{{ entity.name }} - board</div>
</div>

{% for boardColumn in entity.boardColumns %}
   <div style="border: 1px dashed silver; padding: 20px; float: left;">
   <img height="148pt" src="http://chart.apis.google.com/chart?cht=qr&chs=190x190&chld=H|0&chl=__" />
   <div style="margin-top: 10px; text-align: center; width: 100%;">{{ boardColumn.name }}</div>
   </div>
{% endfor %}