{% extends 'JimdoJimFlowViewBoardBundle::layout.html.twig' %}

{% block body %}

<div id="header">
   <div id="boardselect">
        <label for="boardselection" id="boardlabel">Choose board:</label>
        <select name="boardselection">
            {% for board in boards %}
                <option {% if board.name == snapShot.board.name %} selected="selected" {% endif %} data-href="{{ app.request.scheme ~ '://' ~ app.request.host }}{{ path('board_detail', { 'boardId': board.id }) }}">{{ board.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="logo">
        <img src="{{ asset('bundles/jimdojimflowviewboard/images/jimflow.png') }}"/>
    </div>
    <div id="boardowner">
        <span>{{ snapShot.board.name }}</span>
        <span id="lastscan">last update: {{ snapShot.createdAt|date("d.m.Y H:i") }}</span>
    </div>
    <div class="clear"></div>
</div>

<div class="board with-{{snapShot.board.columns|length}}-columns">
    {% for column in snapShot.board.columns%}
    <div class="column">
            <div class="header">
                <span>{{column.name}}</span>
            </div>
            {% for ticket in column.tickets %}
            <div class="ticket">
                <div class="wrapper">
                    <span class="ticket-meta">
                        <span class="ticket-id"><a href="{{ ticket.url }}" target="_blank">#{{ ticket.id }}</a></span>
                        <span class="ticket-type">{{ ticket.type }}</span>
                    </span>
                    <span class="ticket-headline">{{ ticket.title }}</span>
                    <span class="ticket-changedate">{% if ticket.lastChange %}last change {{ ticket.lastChange|date("d.m.Y H:i") }}{% endif %}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>
<div id="footer">
<a href="http://www.it-agile.de" target="_blank" id="agilelogo"><img src="{{ asset('bundles/jimdojimflowviewboard/images/logo-itagile.png') }}"/></a>
<a href="http://www.jimdo.com" target="_blank" id="jimdologo"><img src="{{ asset('bundles/jimdojimflowviewboard/images/logo-jimdo.png') }}"/></a>
</div>
{% endblock %}
