{% extends 'JimdoJimKanWallViewBoardBundle::layout.html.twig' %}

{% block body %}

    <div style="display:none">
        {% for board in boards %}
        <li><a href="{{ path('board_detail', { 'boardId': board.id }) }}">{{ board.name }}</a></li>
        {% endfor %}
    </div>

<div id="header">
    <div id="boardselect">
        <select>
            <option>Feature Team</option>
        </select>
    </div>
    <div id="logo">
        <img src="{{ asset('bundles/jimdojimkanwallviewboard/images/jimflow.png') }}" />
    </div>
    <div class="clear"></div>
    </div>

    <div class="board with-{{snapShot.board.columns|length}}-columns">
        {% for column in snapShot.board.columns%}
        <div class="column">
                <div class="header">
                    <span>{{column.name}}</span>
                </div>
                {% for ticket in column.tickets %}
                <div class="ticket">
                    <div class="wrapper">
                        <span class="ticket-meta">
                            <span class="ticket-id"><a href="{{ ticket.url }}" target="_blank">#{{ ticket.id }}</a></span>
                            <span class="ticket-type">{{ ticket.type }}</span>
                        </span>
                        <span class="ticket-headline">{{ ticket.title }}</span>
                        <span class="ticket-changedate">{% if ticket.lastChange %}last change {{ ticket.lastChange|date("d.m.Y H:i") }}{% endif %}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endblock %}
