{% extends 'JimdoJimKanWallViewBoardBundle::layout.html.twig' %}

{% block body %}

    <h1>{{ snapShot.board.name }} Board</h1>

    <div class="info">
        scanned at {{ snapShot.createdAt|date("d.m.Y H:s") }}
    </div>

    <div class="board">

    {% for column in snapShot.board.columns%}
        <div class="column">
            {{ column.name }}
            {% for ticket in column.tickets %}
                <div class="ticket">
                <p>#{{ ticket.id }}
                <p>{{ ticket.title }}
                <p>{{ ticket.type }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock %}