{% extends 'JimdoJimKanWallViewBoardBundle::layout.html.twig' %}

{% block body %}
    <script>
        $('.dropdown-toggle').dropdown()
    </script>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">{{snapShot.board.name}}<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for board in boards %}
                            <li><a href="{{ path('board_detail', { 'boardId': board.id }) }}">{{ board.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="nav pull-right">last scan at {{ snapShot.createdAt|date("d.m.Y H:i") }}</div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">

            {% for column in snapShot.board.columns%}
                <div class="span1">
                    <h4>{{column.name}}</h4>
                        {% for ticket in column.tickets %}
                        <div class="ticket">
                            <a href="{{ ticket.url }}" target="_blank" class="ticket-id">#{{ ticket.id }}</a>
                            <div class="ticket-type label label-info">{{ ticket.type }}</div>
                            <div class="clear"></div>
                            <div class="ticket-title">{{ ticket.title }}</div>
                            <div class="ticket-title">last change {{ ticket.lastChange|date("d.m.Y H:i") }}</div>
                        </div>
                        {% endfor %}
                </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}